{% extends "UdyniManagement/index.html" %}

{% block page %}

<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">You successfully logged out</h1>
                </div>
                <hr>
                <div class="text-center">
                  <a class="small" href="{% url 'account_login' %}">Login</a>
                </div>
                <div class="text-center">
                    <a class="small" href="{% url 'account_password_reset' %}">Forgot Password?</a>
                </div>
                <div class="text-center">
                    <a class="small" href="{% url 'account_registration' %}">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
